
<div>
  <a href="https://github.com/janhommes/o.js">o.js at GitHub</a>
  <br/>
  <a href="https://www.odata.org/blog/OData-JavaScript-library-o.js-explained/">o.js introduction at OData.org</a>
  <div>
    <li>
      query(): Promise. Does a fetch request to the given endpoint and request
    </li>
    <li>
      batch(): Promise. Does a batch http-batch request. All request in that sequent are send via one physically request and afterwards parsed to separate data chunks.
    </li>
    <li>
      
    </li>
  </div>
</div>